div {
    display: inline-block;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 500px;
    width: 1200px;
    overflow: auto;
}
.block {
    width: 200px;
    height: 150px;
    background: rgb(197, 174, 133);
    padding: 20px;
    margin: 5px;
    border-radius: 15%;
    box-shadow: inset 1px 1px 15px rgb(104, 103, 103), inset -1px -1px 15px rgb(104, 103, 103);
}