:root {
    --general-text: #312c27;
    --title-text: #1f1711;
    --violet-text: #ceaad0;
    --general-bg: #fff9f4;
    --accent-color: #ffa55c;
    --accent-bg: #ffe0cb;

    --transition: all .4s;
}


.body {
    font-family: "Montserrat", "Arial", sans-serif;;
    line-height: 1.5;
    color: var(--general-text);
    background-color: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.conteiner {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    font-family: "Gabriola";
    font-size: 74px;
    line-height: .82;
    color: var(--title-text);
}

.button {
    display: block;
    font-weight: 500;
    line-height: 1.6;
    border-radius: 60px;
    padding: 18px 0;
    background-color: var(--accent-color);
    text-align: center;

    transition: var(--transition);

}

.button:hover {
    background-color: #ff9138;
}

/*-------------------------HEADER----------------------- */

.header {
    background: url(../image/decor/hero_bg.png) 50% 100% / cover no-repeat;

}

/*----------HEADER-TOP---------- */

.header__inner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.nav__list {
    display: flex;
    gap: 40px;
    padding-bottom: 7px;
}

.nav__item {
    position: relative;
    z-index: 1;
}

.nav__item a::before,
.footer__link::before {
    content: '';
    width: 34px;
    height: 34px;
    background-color: var(--accent-color);
    border-radius: 100%;
    top: -13px;
    left: -13px;
    position: absolute;
    z-index: -1;
    opacity: 0;

    transition: var(--transition);
}

.nav__item a:hover::before,
.footer__link:hover::before {
    opacity: 1;
}

.header__burger-menu {
    display: none;
    width: 40px;
    height: 40px;
    z-index: 2;
    justify-content: center;
    align-items: center;
}


.header__burger-menu span,
.header__burger-menu span::after,
.header__burger-menu span::before {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background-color: var(--general-text);
    transition: var(--transition);
}

.header__burger-menu span {
    position: relative;
}

.header__burger-menu span::after,
.header__burger-menu span::before {
    content: '';
    position: absolute;
}

.header__burger-menu span::after {
    top: -8px;
}

.header__burger-menu span::before {
    bottom: -8px;
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-menu .header__burger-menu span {
    background: transparent;
}

.body--opened-menu .header__burger-menu span::before {
    bottom: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .header__burger-menu span::after {
    top: 0px;
    transform: rotate(-45deg);
}

/*------------HERO------------ */

.hero__inner {
    margin-top: 50px;
    margin-bottom: 138px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

.hero__subtitle {
    display: flex;
    gap: 10px;
    color: var(--violet-text);
    line-height: 1.6;
    padding-bottom: 20px;

}

.hero__dot {
    width: 4px;
    height: 4px;
    background-color: var(--violet-text);
    border-radius: 100%;
    align-self: center;
}

.hero__title {
    max-width: 520px;
    padding-bottom: 30px;
}

.hero__text {
    padding-bottom: 40px;
    max-width: 358px;
}

.button__hero {
    max-width: 358px;
    width: 100%;
}

.hero__content-img {
    padding-left: 16px;
}

.hero__img {
    max-width: 377px;
    position: relative;
}

.hero__img>img {
    width: 100%;

}

.hero__control {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 12%;
    right: -42%;
    gap: 10px;
}

.hero__control--mobile {
    display: none;
}

.hero__control a {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #FFE0CB;
    position: relative;
}

.hero__control img {
    padding-left: 9%;
}

.hero__control a::before,
.about__present button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);

    opacity: 0;
    transition: var(--transition);
}

.hero__control a:hover::before,
.about__present button:hover::before {
    opacity: 1;
}

.hero__control p {
    max-width: 112px;
}

/*-------------------------MAIN-ABOUT----------------------- */

.about__inner {
    margin-top: 140px;
}

.about__img-img {
    max-width: 603px;
    position: relative;
}

.about__img-img>img {
    width: 100%;
    border-radius: 20px;
}

.about__present {
    padding: 15px 20px;
    max-width: 299px;
    background-color: rgba(149, 123, 151, 0.9);
    border-radius: 20px;
    position: absolute;
    bottom: 4.6%;
    left: 4.97%;
    color: var(--general-bg);

    display: flex;
    gap: 10px;
    align-items: center;
}

.about__present button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 100%;
    background-color: var(--general-bg);
    position: relative;
}

.about__present button::before {
    /* стили внутри .hero__control a::before */
    border: 1px solid #ceaad0;
}

.about__text {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about__text-text p {
    margin-top: 30px;
}


.about__text-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.about__text-block>div {
    display: flex;
    border-radius: 20px;
    height: 130px;
    background-color: var(--accent-bg);
    align-items: center;
    gap: 15px;
    justify-content: center;
    min-width: 256px;
}

.about_hat {
    display: flex;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: solid 1px var(--general-text);
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.about_hat img {
    width: 24px;
    height: 24px;
}

.about__text-block p {
    max-width: 173px;
    padding-right: 8px;
}

.about__present__mobile {
    display: none;
}




/*-------------------------FOOTER----------------------- */

.footer {
    background-color: #ab8261;
    z-index: 1;
}

.footer__inner {
    padding: 34px 0 60px;
    color: var(--general-bg);
    z-index: 1;
}

.footer__nav-socials {
    display: flex;
    gap: 56px;
    align-items: center;
}

.footer__logo-socials {
    max-width: 272px;
}

.socials {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--accent-color);
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item {
    position: relative;
}

.footer__link {
    padding: 5px 0;
}

/* анимация кругляшей в хэдере: .nav__item a::before,.footer__link::before  */

.footer__contacts {
    margin-top: 27px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
}

.footer__time-adress {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__time,
.footer__adress {
    display: flex;
    gap: 10px;
}

.phone {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 43px;
    transition: var(--transition);
}

.phone:hover {
    color: var(--accent-color);
}

.copy {
    display: flex;
    gap: 5px;
    color: #dec5b1;
    justify-content: end;
}


/*-------------------------MODAL----------------------- */


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: oklab(0% 0 0 / 0.397);
    z-index: 2;
    inset: 0;

    visibility: hidden;
    opacity: 0;
    transition: all .6s;
}

.modal__inner {
    max-width: 428px;
    width: 100%;
    max-height: 491px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--general-bg);
    position: relative;
}

.modal__close {
    position: absolute;
    right: 4.67%;
    top: 4%;
    background-color: inherit;
}

.modal__close path,
.modal__close rect {
    transition: var(--transition);
}

.modal__close:hover path,
.modal__close:hover rect {
    stroke: #ac907a;
}

.modal__img {
    position: absolute;
    top: -13%;
}

.modal__content {
    max-width: 308px;
    margin-top: 133px;
}

.modal__title {
    font-size: 42px;
    line-height: .9;
    padding-bottom: 10px;
}

.modal__text {
    margin-bottom: 36px;
}

.modal__form {
    position: relative;
}


.modal__input {
    border: 1px solid #ac907a;
    border-radius: 100px;
    padding: 19px 28px;
    max-width: 308px;
    width: 100%;
    height: 62px;
    margin-bottom: 10px;

    transition: var(--transition);
}

.modal__input:hover {
    border-color: var(--accent-color);
}

.modal__input::placeholder {
    color: #ac907a;
    transition: var(--transition);
}

.modal__input:hover::placeholder {
    color: var(--accent-color);
}

.modal__input:focus {
    padding: 28px 28px 13px;
}

.modal__form-text {
    position: absolute;
    font-size: 11px;
    color: #ac907a;
    top: 10px;
    left: 28px;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.modal__input:focus+p {
    opacity: 1;
    visibility: visible;
}


.modal__inner .button {
    padding: 18px 36px;
    max-width: 308px;
    width: 100%;
    height: 62px;
}

.modal_open {
    visibility: visible;
    opacity: 1;

}


/*------------------------------------------------------ */
/*------------------------MEDIA------------------------- */
/*------------------------------------------------------ */
@media (max-width: 1200px) {
    .hero__inner {
        grid-template-columns: auto auto;
    }

    .hero__control {
        position: static;
        margin-top: 20px;
    }

    .hero__control p {
        max-width: none;
    }

    .hero__content-img {
        width: 32vw;
    }



    .about__inner {
        grid-template-columns: 1fr 1.5fr;
    }

    .about__img-img {
        height: 543px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .about__present {
        position: static;
    }

    .about__present button::before {
        padding-left: 3px;
    }

    .about__text-block>div {
        justify-content: space-evenly;
    }



    .footer__inner {
        grid-template-columns: 2fr 1fr;
    }

    .footer__nav-socials {
        gap: 0;
        justify-content: space-evenly;
    }

    .footer__contacts {
        margin-top: 20px;
        flex-direction: column;
        gap: 20px;
    }

    .phone {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .copy {
        justify-content: left;
    }

}

@media (max-width: 900px) {

    .header__logo {
        z-index: 3;
    }

    .nav {
        position: fixed;
        inset: 0;
        z-index: 2;
        background: var(--general-bg);
        font-size: 24px;
        padding: 26vh 15px 30px;
        overflow: hidden;

        opacity: 0;
        transform: translateY(-50%);
        transition: var(--transition);
        visibility: hidden;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .nav__item a::before {
        top: -19px;
        left: -18px;
        width: 50px;
        height: 50px;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .header__burger-menu {
        display: flex;
    }

    .hero__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 100px;
    }

    .hero__text {
        padding-bottom: 5px;
    }

    .hero__control--mobile {
        display: flex;
        margin-bottom: 30px;
    }

    .hero__content-img {
        display: none;
    }

    .hero__subtitle,
    .hero__text,
    .hero__control--mobile,
    .button__hero {
        justify-self: center;
    }



    .about__inner {
        margin-top: 100px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .about__img {
        display: none;
    }

    .about__text {
        max-width: 550px;
        padding-left: 0;
        gap: 30px;
        align-items: center;
    }

    .about__text-text {
        text-align: center;
    }

    .about__text-text p {
        margin-top: 30px;
    }

    .about__text-block {
        gap: 30px;
    }

    .about__text-block>div {
        height: 100px;
    }

    .about__present__mobile {
        display: flex;
        padding: 11px 20px;
    }



    .footer__inner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 58px;
    }

    .footer__nav-socials {
        justify-content: space-around;
    }

    .footer__contacts {
        margin-top: 0;
        flex-direction: row;
        gap: 0;
        padding-left: 0;
        justify-content: space-around;
    }

    .footer__phone {
        padding-left: 0;
    }

}

@media (max-width: 600px) {
    .hero__inner {
        margin-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }



    .about__text-block {
        grid-template-columns: 1fr;
        width: 80vw;
        gap: 20px;
    }

    .about__text-block>div {
        justify-content: start;
        height: 80px;
    }

    .about__text-block p {
        max-width: none;
    }

    .about__title span {
        font-size: 12vw;
    }

    .about__present__mobile {
        padding: 6px 15px;
    }



    .footer__nav-socials {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer__contacts {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer__time,
    .socials {
        justify-content: center;
    }

    .socials {
        margin-top: 10px;
    }

    .footer__logo-socials,
    .phone {
        text-align: center;
    }

    .phone {
        margin-bottom: 40px;
    }

    .footer__list {
        align-items: center;
    }

    .footer__inner {
        gap: 40px;
    }
}

@media (max-width: 500px) {

    .modal__inner {
    max-width: 300px;
    }

    .modal__content {
    max-width: 257px;
    margin-top: 110px;
    }

    .modal__img {
    width: 200px;
    }
}