:root {
    --general-text: #312c27;
    --title-text: #1f1711;
    --violet-text: #ceaad0;
    --general-bg: #fff9f4;
    --accent-color: #ffa55c;
    --accent-bg: #ffe0cb;

    --transition: all .4s;
}


.body {
    background-color: var(--general-bg);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: var(--general-text);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.conteiner {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: block;
    font-weight: 500;
    line-height: 1.6;
    border-radius: 60px;
    padding: 18px 0;
    background-color: var(--accent-color);
    text-align: center;

    transition: var(--transition);

}

.button:hover {
    background-color: #ff9138;
}

/*-------------------------HEADER----------------------- */

.header {
    background: url(../image/decor/hero_bg.png) 50% 100% / cover no-repeat;

}

/*----------HEADER-TOP---------- */

.header__inner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.nav__list {
    display: flex;
    gap: 40px;
    padding-bottom: 7px;
}

.nav__item {
    position: relative;
    z-index: 1;
}

.nav__item a::before,
.footer__link::before {
    content: '';
    width: 34px;
    height: 34px;
    background-color: var(--accent-color);
    border-radius: 100%;
    top: -13px;
    left: -13px;
    position: absolute;
    z-index: -1;
    opacity: 0;

    transition: var(--transition);
}

.nav__item a:hover::before,
.footer__link:hover::before {
    opacity: 1;
}

.header__burger-menu {
    display: none;
    width: 40px;
    height: 40px;
    z-index: 2;
    justify-content: center;
    align-items: center;
}


.header__burger-menu span,
.header__burger-menu span::after,
.header__burger-menu span::before {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background-color: var(--general-text);
    transition: var(--transition);
}

.header__burger-menu span {
    position: relative;
}

.header__burger-menu span::after,
.header__burger-menu span::before {
    content: '';
    position: absolute;
}

.header__burger-menu span::after {
    top: -8px;
}

.header__burger-menu span::before {
    bottom: -8px;
}

.body--opened-menu .header__burger-menu span {
    background: transparent;
}

.body--opened-menu .header__burger-menu span::before {
    bottom: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .header__burger-menu span::after {
    top: 0px;
    transform: rotate(-45deg);
}

/*------------HERO------------ */

.hero__inner {
    margin-top: 50px;
    margin-bottom: 138px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

.hero__subtitle {
    display: flex;
    gap: 10px;
    color: var(--violet-text);
    line-height: 1.6;
    padding-bottom: 20px;

}

.hero__dot {
    width: 4px;
    height: 4px;
    background-color: var(--violet-text);
    border-radius: 100%;
    align-self: center;
}

.hero__title {
    font-family: 'Gabriola', sans-serif;
    font-size: 74px;
    line-height: .82;
    max-width: 520px;
    padding-bottom: 30px;
}

.hero__text {
    padding-bottom: 40px;
    max-width: 358px;
}

.button__hero {
    max-width: 358px;
    width: 100%;
}

.hero__content-img {
    padding-left: 16px;
}

.hero__img {
    max-width: 377px;
    position: relative;
}

.hero__img>img {
    width: 100%;

}

.hero__control {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 12%;
    right: -42%;
    gap: 10px;
}

.hero__control--mobile {
    display: none;
}

.hero__control a {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #FFE0CB;
    position: relative;
}

.hero__control img {
    padding-left: 9%;
}

.hero__control a::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);

    opacity: 0;
    transition: var(--transition);
}

.hero__control a:hover::before {
    opacity: 1;
}

.hero__control p {
    max-width: 112px;
}


/*-------------------------FOOTER----------------------- */

.footer {
    background-color: #ab8261;
    z-index: 1;
}

.footer__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 34px 0 60px;
    color: var(--general-bg);
    z-index: 1;
}

.footer__nav-socials {
    display: flex;
    gap: 56px;
    align-items: center;
}

.footer__logo-socials {
    max-width: 272px;
}

.socials {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--accent-color);
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item {
    position: relative;
}

.footer__link {
    padding: 5px 0;
}

/* анимация кругляшей в хэдере: .nav__item a::before,.footer__link::before  */

.footer__contacts {
    margin-top: 27px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
}

.footer__time-adress {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__time,
.footer__adress {
    display: flex;
    gap: 10px;
}

.phone {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 43px;
    transition: var(--transition);
}

.phone:hover {
    color: var(--accent-color);
}

.copy {
    display: flex;
    gap: 5px;
    color: #dec5b1;
    justify-content: end;
}


/*------------------------------------------------------ */
/*------------------------MEDIA------------------------- */
/*------------------------------------------------------ */
@media (max-width: 1200px) {
    .hero__inner {
        grid-template-columns: auto auto;
    }

    .hero__control {
        position: static;
        margin-top: 20px;
    }

    .hero__control p {
        max-width: none;
    }

    .hero__content-img {
        width: 32vw;
    }



    .footer__inner {
        grid-template-columns: 2fr 1fr;
    }

    .footer__nav-socials {
        gap: 0;
        justify-content: space-evenly;
    }

    .footer__contacts {
        margin-top: 20px;
        flex-direction: column;
        gap: 20px;
    }

    .phone {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .copy {
        justify-content: left;
    }
}

@media (max-width: 900px) {
    .footer__inner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 58px;
    }

    .footer__nav-socials {
        justify-content: space-around;
    }

    .footer__contacts {
        margin-top: 0;
        flex-direction: row;
        gap: 0;
        padding-left: 0;
        justify-content: space-around;
    }

    .footer__phone {
        padding-left: 0;
    }
}

@media (max-width: 800px) {

    .header__logo {
        z-index: 2;
    }

    .nav {
        position: fixed;
        inset: 0;
        z-index: 1;
        background: var(--general-bg);
        font-size: 24px;
        padding: 26vh 15px 30px;

        opacity: 0;
        transform: translateY(-50%);
        transition: var(--transition);
        visibility: hidden;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .nav__item a::before {
        top: -19px;
        left: -18px;
        width: 50px;
        height: 50px;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .header__burger-menu {
        display: flex;
    }

    .hero__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero__text {
        padding-bottom: 5px;
    }

    .hero__control--mobile {
        display: flex;
        margin-bottom: 30px;
    }

    .hero__content-img {
        display: none;
    }

    .hero__subtitle,
    .hero__text,
    .hero__control--mobile,
    .button__hero {
        justify-self: center;
    }
}

@media (max-width: 600px) {
    .hero__inner {
        margin-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }



    
    .footer__nav-socials {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer__contacts {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer__time,
    .socials {
        justify-content: center;
    }

    .socials {
        margin-top: 10px;
    }

    .footer__logo-socials,
    .phone {
        text-align: center;
    }

    .phone {
        margin-bottom: 40px;
    }

    .footer__list {
        align-items: center;
    }

    .footer__inner {
        gap: 40px;
    }
}